.container {
  max-width: 50rem;
  padding: 1em;
  margin: 3em auto 6em;
  align-items: justify;
}

@media (max-width: 700px) {
  .container {
    align-items: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
